{{define "body"}}
<tr>
    <td style="padding-bottom: 12px;">To confirm adding your email address (<a style="color: black;" href="mailto:{{.ToAddress}}" target="_blank">{{.ToAddress}}</a>) to your {{.PlatformName}} account, please click the button below.</td>
</tr>

<tr>
    <td style="padding-bottom: 24px;">If this wasn't you, please ignore this email. No further action is required.</td>
</tr>

<tr>
    <td style="padding-bottom: 28px;">
        <a href="#" target="_blank" style="background:linear-gradient(#FFBD59, #FDD18F);color:black;text-decoration:none;padding:10px 35px;font-weight:bold;">Verify</a>
    </td>
</tr>

<tr>
    <td style="padding-bottom: 12px;">This link will expire in 30 minutes.</td>
</tr>
{{end}}